<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/KycManagerServer</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="jdbc.batch_size">0</property>
		<property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="use_sql_comments">false</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="current_session_context_class">thread</property>
		<property name="org.hibernate.envers.do_not_audit_optimistic_locking_field">false</property>
		<property name="org.hibernate.envers.store_data_at_delete">true</property>
		<property name="org.hibernate.envers.audit_table_prefix">ZZ_</property>
		<property name="org.hibernate.envers.audit_table_suffix" />
		<!-- Mapped Classes -->
		<mapping class="com.sf.biocapture.entity.AuditEntity" />
		<mapping class="com.sf.biocapture.entity.KycBlacklist" />
		<mapping class="com.sf.biocapture.entity.BlacklistedData" />
		<mapping class="com.sf.biocapture.entity.Country" />
		<mapping class="com.sf.biocapture.entity.State" />
		<mapping class="com.sf.biocapture.entity.Lga" />
		<mapping class="com.sf.biocapture.entity.Zone" />
		<mapping class="com.sf.biocapture.entity.Region" />
		<mapping class="com.sf.biocapture.entity.Node" />
		<mapping class="com.sf.biocapture.entity.Fault" />
		<mapping class="com.sf.biocapture.entity.Device" />
		<mapping class="com.sf.biocapture.entity.License" />
		<mapping class="com.sf.biocapture.entity.DeviceStatus" />
		<mapping class="com.sf.biocapture.entity.DeviceType" />
		<mapping class="com.sf.biocapture.entity.NodeManager" />
		<mapping class="com.sf.biocapture.entity.EnrollmentLog" />
		<mapping class="com.sf.biocapture.entity.EnrollmentRef" />
		<mapping class="com.sf.biocapture.entity.KycDealer" />
		<mapping class="com.sf.biocapture.entity.DealerType" />
		<mapping class="com.sf.biocapture.entity.KitType" />
		<mapping class="com.sf.biocapture.entity.NodeAssignment" />
		<mapping class="com.sf.biocapture.entity.krm.MasterList" />
		<mapping class="com.sf.biocapture.entity.VendorType" />
		<mapping class="com.sf.biocapture.entity.UserId" />
		<mapping class="com.sf.biocapture.entity.Setting" />
		<mapping class="com.sf.biocapture.entity.BasicData" />
		<mapping class="com.sf.biocapture.entity.HeartBeat" />
		<mapping class="com.sf.biocapture.entity.SmsActivationRequest" />
		<mapping class="com.sf.biocapture.entity.PhoneNumberStatus" />
		<mapping class="com.sf.biocapture.entity.WsqImage" />
		<mapping class="com.sf.biocapture.entity.security.KMUser" />
		<mapping class="com.sf.biocapture.entity.security.KMRole" />
                <mapping class="com.sf.biocapture.entity.security.KMUserHistory" />
                <mapping class="com.sf.biocapture.entity.security.KMPrivilege"/>
                <mapping class="com.sf.biocapture.entity.security.KMRolePrivilege" />
		<mapping class="com.sf.biocapture.entity.PassportData"/>
		<mapping class="com.sf.biocapture.entity.LicenseRequest"/>
		<mapping class="com.sf.biocapture.entity.SpecialData"/>
				
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="post-insert" />
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="post-update" />
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="post-delete" />
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="pre-collection-update" />
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="pre-collection-remove" />
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="post-collection-recreate" />
	</session-factory>
</hibernate-configuration>

