/* ----- add selectors here for font sizing ----- 
p, table, ul, dl {font-size: 1.2em}
caption {font-size: 1.4em}
h2 {font-size: 1.6em}

p {line-height:1.4em;margin:10px 0;}
/* ----- base links ----- 
a:link {color: #CC6633;}
a:visited {color: #CC6633;}
a:hover {color: #999966;}
a:active {color: #CC6633;}
a:focus{color: #CC6633;}
/* ----- tool tip specific styles ----- */
#theToolTip {
  position: absolute;
  left: -300px;
  width: 250px;
  border: 2px solid #C0C09F;
  padding: 6px 0px 0px 10px;
  background-color: #FFFFCC;
  visibility: hidden;
  z-index: 100;
  /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
  filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,strength=4); }

#ToolTipPointer {
  position: absolute;
  left: -300px;
  z-index: 101;
  visibility: hidden; }

#theToolTip p {
  font-size: 1.1em;
  color: #333333;
  line-height: 1.4em;
  margin-right: 10px;
  margin-top: 0; }

#ToolTipTextWrap {
  font-weight: bold;
  font-size: 1.2em;
  color: #592C16;
  margin-right: 10px; }

