@IMPORT url("uikit.almost-flat.min.css");
@IMPORT url("facebox.css");
h1 {
  line-height: inherit; }

.form-validator-error-container .field-element {
  padding: 0px; }

span.field-element, .field-input-text, .form-validator-error {
  width: 100%; }

.field-label, .field-label-inline-label {
  font-size: 9pt; }

.button-airtel {
  background-color: rgba(109, 9, 10, 0.8); }

.portlet-body .portlet .portlet-topper {
  background-color: #FFFFFF;
  background-image: none;
  border-color: #aaa;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  min-height: 10px; }

.portlet-body .portlet {
  background-color: #fff;
  background-image: none; }

.portlet-title-text {
  text-transform: uppercase;
  color: #C91010; }

.inner {
  width: 100%; }

.pagebanner {
  display: inline-block;
  font-weight: bold; }

div.uk-button-group button, div.uk-button-group button:hover {
  background-image: none; }

